# Version Control
**/.git

# Development Configuration
**/.env*
**/docker-compose*.yml
**/Dockerfile*

# Documentation and Tests
**/docs
**/tests
**/*.md
# 【新增】排除规则的例外：允许 README.md 进入镜像（构建需要）
!**/README.md

# Build Artifacts and Cache
**/__pycache__
**/*.pyc
**/*.log
**/node_modules
**/venv

# IDE Files
**/.vscode
**/.idea

# Static Assets (Adjust as needed)
**/.iconset/
**/*.icns
assets/images
